<% include partials/header %>
<div class="ui main text container segment">
    <div class="ui huge header">
        Log in to post blog!
    </div>
    <form class="ui form" action="/login" method="POST">
        <div class="required field">
            <label>Username</label>
            <input name="username" type="text" placeholder="username">
        </div>
        <div class="required field">
            <label>Password</label>
            <input name="password" type="password" placeholder="password">
        </div>
        <button class="fluid ui blue button" type="submit">Log in!</button>
    </form>
</div>
<% include partials/footer %>