i.icon {
    font-size: 2em;
    /*padding-top: 5px;*/
}

i.icon.chevron {
    font-size: 1.2em;
}

.container.main {
    margin-top: 7em;
}

#delete {
    display: inline;
}

.middle.image {
    height: 300px;
}

.description {
    padding-left: 9px;
}